{% if testimonials %}

  <div class="testimonials">
    <ul class="testimonials__list">
      {% for testimonial in testimonials %}
      <li class="testimonial">
        <div class="testimonial__text">
          <div class="user-meta">
            <span class="user-name">{{testimonial.title}}</span>
            <span class="user-class">{{testimonial.group}}</span>
          </div>
          <blockquote class="quote">{{testimonial.quote}}</blockquote>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}