.contact {
  @include center();
  @include block-padding();

  &__btn-route {
    margin-top: .5em;
    @extend %btn;
    @extend %btn--small;
    @extend %btn--outline;
  }

  &__image {
    @extend %archive__image;
    margin-bottom: .5em;
    height: 12em;
    object-fit: cover;
  }

  &__addresses {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-column-gap: $gutter * 3;
    @include breakpoint(sm) {
      grid-template-columns: repeat(2, 1fr);
      > * {
        flex: 0 0 50%;
      }
    }
  }

  &__column {
    @include breakpoint(md) {
      flex: 0 0 percentage(2 / 3);
    }
  }

  &__form {
    @include breakpoint(md) {
      flex: 0 0 percentage(1 / 3);
    }
  }

  &__details {
    margin-bottom: 1em;
  }

  &__row {
    display: flex;
    display: grid;
    flex-wrap: wrap;
    grid-column-gap: $gutter * 3;
    align-items: start;

    @include breakpoint(md) {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.map {
  height: 30rem;
}