$font-family-basic: 'Open Sans', sans-serif;
$font-family-critical: 'Open Sans', 'Open Sans Webfont Basic', sans-serif;
$font-family-base: 'Open Sans', 'Open Sans Webfont', sans-serif;
$font-family-headings: $font-family-base;
$font-size-base: 87.5%;
$line-height-base: 26 / 14;
$line-height-headings: 1.1;
$font-weight-normal: 400;
$font-weight-bold: 700;
