.menu {
  flex: 0 1 auto;

  @include breakpoint(lg) {
    flex: 1 1 auto;
    margin-left: 12rem;
    margin-top: 3em;
  }

  &__trigger {
    border: 1px solid $white;
    color: $white;

    @include breakpoint(md) {
      display: none;
    }
  }

  &__icon {
    @extend %icon;
    height: 1.5em;
    width: 1.5em;
  }

  &__list {
    @include list-unstyled();
    background: $white;
    display: flex;

    @include breakpoint-max(sm) {
      display: none;
      left: 0;
      overflow-scrolling: touch;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 9;

      &.is-active {
        display: block;
      }
    }

    @include breakpoint(md) {
      justify-content: space-around;
      margin: 0 -1rem;
    }

    @include breakpoint(xlg) {
      justify-content: flex-start;
    }

    > li {
      margin: 0 2rem;
      position: relative;
    }
  }

  a {
    border-bottom: 3px solid transparent;
    display: inline-block;
    padding: .5em 0;
  }

  .current_page_parent,
  .current_page_ancestor,
  .current_page_item {
    > a {
      border-bottom-color: $black;
      font-weight: $font-weight-bold;
    }
  }

  li:hover > a {
    border-bottom-color: $black;
  }
}

.sub-menu {
  @include list-unstyled();
  font-size: .9em;
  line-height: 1.2;

  @include breakpoint-max(md) {
    padding-left: 1em;
  }

  @include breakpoint(md) {
    background: $grey-light;
    display: none;
    left: -1em;
    padding: .5em 1em;
    position: absolute;
    top: 100%;
  }

  a {
    border-bottom-width: 2px;
  }

  li:hover & {
    display: block;
  }
}
