.menu {
  flex: 0 1 auto;

  @include breakpoint(lg) {
    flex: 1 1 auto;
    margin-left: 11em;
  }

  &__trigger {
    border: 1px solid $white;
    color: $white;

    @include breakpoint(md) {
      display: none;
    }
  }

  &__icon {
    @extend %icon;
    height: 1.5em;
    width: 1.5em;
  }

  &__list {
    @include list-unstyled();
    background: $white;
    display: flex;

    @include breakpoint-max(md) {
      box-shadow: 2px 0 .5em $grey;
      display: none;
      left: 0;
      padding: 0 $gutter;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 9;

      &.is-active {
        display: block;
      }
    }

    @include breakpoint-range(md, lg) {
      justify-content: space-around;
    }

    > li {
      position: relative;

      @include breakpoint(lg) {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
  }

  a {
    border-bottom: 3px solid transparent;
    display: inline-block;
    padding: .5em 0;
  }

  .current_page_parent,
  .current_page_ancestor,
  .current_page_item {
    > a {
      border-bottom-color: $black;
      font-weight: $font-weight-bold;
    }
  }

  li:hover > a {
    border-bottom-color: $black;
  }
}

.sub-menu {
  @include list-unstyled();
  font-size: .9em;
  line-height: 1.2;

  @include breakpoint-max(md) {
    padding-left: 1em;
  }

  @include breakpoint(md) {
    background: $grey-light;
    display: none;
    left: -1em;
    padding: .5em 1em;
    position: absolute;
    top: 100%;
  }

  a {
    border-bottom-width: 2px;
  }

  li:hover & {
    display: block;
  }
}

.menu-icon__bar {
  transition: transform 0.15s ease-out, opacity 0.1s ease-out;
  transform-origin: 100% 50%;
}

.menu-icon__bar--1 {
  [aria-expanded=true] & {
    transform: rotate(-45deg);
  }
}

.menu-icon__bar--2 {
  [aria-expanded=true] & {
    opacity: 0;
  }
}

.menu-icon__bar--3 {
  [aria-expanded=true] & {
    transform: rotate(45deg);
  }
}