{% extends "base.twig" %}

{% block content %}

{% include 'partials/blog.twig' %}

{% if posts.pagination.previous or posts.pagination.next %}
  <div class="paging">
    <a class="paging__previous" href="{{posts.pagination.previous.link}}" title="Vorige pagina">Vorige pagina</a>
    <a class="paging__next" href="{{posts.pagination.next.link}}" title="Volgende pagina">Volgende pagina</a>
  </div>
{% endif %}

{% endblock %}