button {
  @extend %button;

  text-decoration: none;

  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  margin-bottom: 0; // For input.btn
  vertical-align: middle;
  touch-action: manipulation;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0;
}

.btn-primary {
  @extend %btn--primary;
}

.btn-action {
  @extend %btn--action;
}

.btn-outline {
  @extend %btn--outline;
}

.btn-small {
  @extend %btn--small;
}
