// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

label {
  @if ($labels-bold) {
    font-weight: $font-weight-bold;
  }
}

.form-group {
  margin-bottom: 0.5em;
}

.form-control {
  appearance: none;
  background-color: #fff;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  display: block;
  padding: $padding-base-vertical $padding-base-horizontal;
  width: 100%;

  &:focus {
    outline: 1px solid $input-border; /* Adjust to suit your tastes */
  }

  &input {
    height: $line-height-computed;
  }

  &.error {
    background-color: #eddfdf !important;
  }
}

.error-message {
  font-size: 0.9em;
}

.required {
  font-weight: $font-weight-bold;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  + fieldset {
    padding-top: 2em;
    border-top: 1px solid #d8d8d8;
    margin-top: 2em;
  }
}

legend {
  @include sr-only;
}
