@media print {
  a {
    text-decoration: underline;
    color: currentColor;
  }

  main [href]:not([href^='#']):after {
    content: ' (' attr(href) ') ';
  }

  footer,
  nav {
    display: none;
  }
}
