html {
  font-size: $font-size-base;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
  color: $text-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: $font-weight-bold;
}

address {
  font-style: normal;
  margin-bottom: 1em;
}

p {
  hanging-punctuation: first;
  margin-bottom: 1em;
}

dl {
  margin-bottom: 1em;
}

a {
  color: $color-primary;
  text-decoration: none;
  text-decoration-skip: ink;

  &:hover {
    text-decoration: underline;

    h1 &, h2 &, h3 & {
      text-decoration: underline;
    }
  }

  &:focus {
    outline: thin dotted;
  }
}
