$banner-height: 2em;
$darken-amount: 5;
$tail-v-offset: .5em;
$tail-h-offset: 0;

.prices2 {
  background: $color-primary;
  text-align: center;
  position: relative;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include breakpoint-max(lg) {
      display: none;
    }
  }

  &__badge {
    background: $color-action;
    line-height: $banner-height;
    position: absolute;
    top: -1.5em;
    padding: 0;
    text-align: center;
    font-weight: 700;
    color: #fff;
    z-index: 9;
    left: 2em;
    right: 2em;

    @include breakpoint(sm) {
      left: 50%;
      margin-left: -5em;
      width: 10em;
    }

    &::before,
    &::after {
      z-index: 1;
      content: "";
      display: block;
      top: .25em;
      position: absolute;
      border-top: ($banner-height / 2) solid darken($color-action, $darken-amount);
      border-bottom: ($banner-height / 2) solid darken($color-action, $darken-amount);
    }

     &::before {
      right: 100%;
      margin-right: $tail-h-offset;
      border-right: ($banner-height / 2) solid darken($color-action, $darken-amount);
      border-left: 5px solid transparent;
    }
     &::after {
      left: 100%;
      margin-left: $tail-h-offset;
      border-left: ($banner-height / 2) solid darken($color-action, $darken-amount);
      border-right: 5px solid transparent;
    }
  }

  &__title {
    color: $white;
    @extend %h1;
    text-shadow: 1px 1px 1px #000;
  }

  &__header {
    text-align: center;
    margin-bottom: 1em;
    position: relative;
  }

  &__wrapper {
    @include center();
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  &__label {
    font-weight: 700;
    font-size: 1.75em;
  }

  &__value {
    position: relative;
    font-size: 2em;
    line-height: 1.2;
  }

  &__title {
    margin-bottom: 1.5em;
  }

  &__row {
    @extend %row;
    margin-bottom: 2em;

    @include breakpoint(sm) {
      &--4-items {
        grid-template-columns: repeat(2,1fr);
      }
    }
    @include breakpoint(lg) {
      flex-wrap: nowrap;
      &--3-items {
        grid-template-columns: repeat(3,1fr);
        > * {
          flex: 0 0 percentage(1 / 3);
        }

      }
      &--4-items {
        grid-template-columns: repeat(4,1fr);
        > * {
          flex: 0 0 25%;
        }
      }
    }
  }

  &__item {
    flex-direction: column;
    padding: .5em 1em 1em;
    background: $white;
    position: relative;
    display: flex;
    flex: 1 0 auto;

    @include breakpoint(lg) {
      &--transparent {
        background: rgba($white, .9);
      }
    }

    &--recommended {
      @include breakpoint-max(sm) {
        margin-top: 1em;
      }
    }

    ul {
      flex: 1 1 auto;
      margin-bottom: 1.5em;
    }
  }

  &__usp {
    padding: 0 0 .5em;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__icon {
    font-size: 1.25rem;
    @include icon(2em);
    position: absolute;
    left: 0;
    top: 0;
    background: #06b326;
    fill: #fff;
    border-radius: 50%;
  }

  &__btn {
    @extend %btn;
    @extend %btn--small;
    @extend %btn--outline;
    align-self: center;

  }
  &__btn-cta,
  &__btn-call {
    @extend %btn;
    margin: 0 .5em .5em;
  }

  &__btn-cta {
    @extend %btn--action;
  }

  &__btn-call {
    @extend %btn--outline;
    background: $white;
  }
}

