.archive {
	position: relative;
	padding-top: 3rem;
		@include center();

	&__wrapper {
		padding-bottom: 3rem;
		&--small {
			padding-bottom: 1rem;
		}
	}

	&__body {
		@extend %row;
		display: flex;
	}
	&__image-wrapper {
		@include col($md: 4);
	}
	&__text {
		@include col($md: 8);
	}
	&__title {
		a {

		}
	}
	&__image {
		display: block;
		width: 100%;
		border: 5px #fff solid;
		box-shadow: 0 0 3px #999;
	}
	&__meta {
		font-size: .9em;
		margin-bottom: .5em;
	}
	&__link {
		@extend %link-decoration;
	}
}

.paging {
	@include center();
	@include clearfix();
	padding-bottom: 3rem;
	&__previous {
		float: left;
	}
	&__next {
		float: right;
	}
	a {
		@extend %btn--outline;
	}
}

.social {
	font-size: .9em;
}

.archive__icon {
	@include icon(1.5em);
	margin-right: .25em;
}