.contact {
  @include center();
  @include block-padding();

  &__row {
    @extend %row;

    @include breakpoint(md) {
      @include grid-equal-columns(3);
    }
  }

  &__map {
    @include breakpoint(md) {
      grid-column-end: 3;
      grid-column-start: 1;
    }
  }

  &__iframe {
    height: 20em;
  }
}
