.footer {
  @include block-padding();
  background: $color-primary;
  color: $white;

  a {
    color: currentColor;
  }

  &__wrapper {
    @include center();
    @extend %row;

    @include breakpoint(sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }


  &__logo {
    display: none;

    @include breakpoint(lg) {
      display: block;
    }
  }

  &__logo-icon {
    width: 8em;
    height: 8em;
    border: 1px solid rgba($white, .5);
  }
}


.social {

  &__link {
    @include reset-link;
  }

  &__icon {
    @include icon(2em);
    margin-right: .5em;
  }
}