.header {
	font-size: 1.15em;
	z-index: 9;
	position: relative;
	padding: .5rem 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		@include center();
	}

	@include breakpoint-max(md) {
		align-items: center;
	}

	@include breakpoint-max(md) {
		background: $color-primary;
	}

	@include breakpoint-min-max(md, lg) {
		flex-direction: column;
	}
	@include breakpoint(lg) {
		align-items: flex-start;
	}
	@include breakpoint(lg) {
		height: 6em;
	}

	&__logo {
		display: block;
		background: url('images/logo-sm.png') no-repeat;
		background-size: cover;
		height: 50px;
		width: 200px;
		@include breakpoint(sm) {
	 	}
		@include breakpoint(lg) {
			background: url('images/logo.png') no-repeat;
			width: 150px;
			height: 150px;
			margin-right: 3rem;
		}
	}
}
