.header {
	font-size: 1.15em;
	z-index: 9;
	position: relative;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		@include center();
		@include breakpoint-max(md) {
			align-items: center;
		}
		@include breakpoint-range(md, lg) {
			flex-direction: column;
		}
	}

	@include breakpoint-max(md) {
		align-items: center;
	}

	@include breakpoint-max(md) {
		background: $color-primary;
	}

	@include breakpoint-range(md, lg) {
		flex-direction: column;
	}
	@include breakpoint(lg) {
		align-items: flex-start;
	}


	&__logo {
		display: block;
		background: url('images/logo-sm.png') no-repeat;
		background-size: cover;
		height: 50px;
		width: 200px;
		@include breakpoint(sm) {
	 	}
		@include breakpoint(lg) {
			background: url('images/logo.png') no-repeat;
			width: 150px;
			height: 150px;
			margin-right: 3rem;
		}
		@include breakpoint-range(md, lg) {
			background-position: center center;
			background-size: auto;
			width: auto;
			background: $color-primary;
		}
	}
}

.main {
	@include breakpoint(lg) {
		margin-top: -4em;
	}
}