.hero {
	@extend %hero;

  height: 8rem;
  @include breakpoint(sm) {
    height: 20rem;
  }

  &--front-page {
  	height: 30rem;
  }

	&__image {
		@extend %hero__image;
	}

	&__text {
		@extend %hero__content;
	}

	&__wrapper {
		@extend %hero__wrapper;
	}

	&__title {
		@extend %hero__title;
	}
}