.about {
  @include center;
  position: relative;
  margin-top: $gutter;
  @include breakpoint(sm) {
    margin-top: -5rem;
  }
}

.about__row {
  @extend %row;
  @include breakpoint(md) {
    grid-template-columns: 2fr 1fr;
  }
}

.usps,
.prices {
  padding: 1.5rem;
}

.teaser {
  &__list {
    @include list-with-icons(white);
  }
}

.prices {
  background: linear-gradient($white, #e0fbe5);
  @extend %row;
  @include breakpoint-range(sm, md) {
    @include grid-equal-columns(2);
  }

  &__list {
    @include list-with-icons();
  }

  &__btn-cta {
    @extend %btn--action;
    @extend %btn--block;
    margin-bottom: 1rem;
  }

  &__btn-call {
    @extend %btn--outline;
    @extend %btn--block;
  }
}

.usps {
  background: $color-primary;
  color: $white;
  @extend %row;
  @include breakpoint(sm) {
    @include grid-equal-columns(2);
  }
}

.teaser__usps {
}

.teaser__products {
}
