@define-mixin color-negative {
  background: var(--color-primary);
  color: var(--color-white);

  & a {
    text-decoration-color: var(--color-white);
    text-decoration-thickness: 1px;

  }

  & ::selection {
    background: var(--color-white);
    color: var(--color-primary);
  }
}
