:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-darker: #41494c;
  --color-gray-dark: #333;
  --color-gray: #999;
  --color-gray-light: #f9f9f9;
  --color-gray-lighter: #e6e6e6;
  --color-gray-lightest: #f1f4f5;
  /*  */
  --color-text: #000;
  /*  */
  --color-primary: #f85909;
  --color-primary-dark: #ca4400;
  /*  */
  --color-bg-page: var(--color-gray-light);
  --color-secondary: #2f2e3e;

  --color-navigation: #2f2e3e;
}

/* @media (--dark-mode) {
  :root {
    --color-black: #fff;
    --color-white: #000;
    --color-primary: #fff;
    --color-white: #1532c3;
    --color-text: #fff;
 }
} */
