$btn-font-size: 1.2em;
$btn-padding-vertical: 0.5em;
$btn-padding-horizontal: 0.5em;
$btn-border-radius: 0.25em;
$btn-font-weight: 700;
$btn-font-family: inherit;

$btn-primary-bg: $color-primary;
$btn-primary-color: $white;
$btn-primary-bg-hover: $color-primary-dark;

$btn-action-bg: $color-action;
$btn-action-color: $white;
$btn-action-bg-hover: $color-action-dark;

$btn-outline-border-color: $text-color;
$btn-outline-color: $text-color;
$btn-outline-color-hover: $white;
$btn-outline-bg-hover: $text-color;
