$gutter: 1rem;
$center: 78rem;

$centers: (
  s: 55rem,
  m: 62rem,
  l: 78rem,
);
$screen-s: 640px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1200px;

$breakpoints: (
  sm: $screen-s,
  md: $screen-m,
  lg: $screen-l,
  xlg: $screen-xl,
);
