%archive {
  &__wrapper {
    @include center(m);
    @include block-padding;
  }

  &__item {
    background: linear-gradient(to bottom, $grey-light 0, #fff 20rem);
  }

  &__body {
    @extend %row;
    @include breakpoint(md) {
      grid-template-columns: 1fr 2fr;

      &--switch {
        %archive__item:nth-child(2n) & {
          grid-template-columns: 2fr 1fr;
        }
      }
    }
  }

  &__image-wrapper--switch {
    @include breakpoint(md) {
      %archive__item:nth-child(2n) & {
        order: 2;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    border: 5px #fff solid;
    box-shadow: 0 0 3px #999;
    @include breakpoint-max(sm) {
      margin: 0 auto;
    }
    @include breakpoint-max(md) {
      max-width: 20em;
    }
  }
}