$color-primary: 			#f85909;
$color-primary-dark: 	darken($color-primary, 5%);
$color-action: 				#06b226;
$color-action-dark: 	darken($color-action, 5%);;

$white: #fff;
$black: #000;

$grey-light: #f9f9f9;
$grey: #bfbfbf;
$grey-dark: #333;

$body-bg: $grey-light;
