$color-primary: 			#f85909;
$color-primary-dark: 	darken($color-primary, 10%);
$color-action: 				#06b226;
$color-action-dark: 	darken($color-action, 5%);;

$text-color:						#3d3d3d;

$white: #f9f9f9;
$black: #000;

$grey-light: #f9f9f9;
$grey: #999;
$grey-dark: #333;

$body-bg: $grey-light;
