$gutter: 1rem;

$center: 78rem;

$centers: (
	s: 55rem,
	m: 62rem,
	l: 78rem
);

$screen-s: 	35em;
$screen-m: 	55em;
$screen-l: 	62em;
$screen-xl: 78em;

$breakpoints: (
  s: $screen-s,
  m: $screen-m,
  l: $screen-l,
  xl: $screen-xl
);
