$carousel-height-portrait: #{((760 / 1140) * 100)}vw;
$carousel-height-landscape: #{((760 / 1440) * 100)}vw;

.carousel {
  overflow: hidden;
  position: relative;

  @include landscape {
    display: flex;
  }

  &__images {
    overflow: hidden;
    position: relative;

    @include landscape {
      flex: 1 1 auto;
    }
  }

  &__btn-navigate {
    position: absolute;
    top: 50%;
    margin-top: -1em;
    width: 2em;
    height: 2em;
    font-size: 2em;
    color: #fff;

    &--previous {
      left: 0;
      transform: rotateY(180deg);
    }

    &--next {
      right: 0;
    }
  }

  &__navigate-icon {
    @include icon();
    stroke: #000;
    stroke-width: .5em;
  }

  &__item {
    position: relative;
    display: none;
    width: 100%;
    transition: transform .6s ease;
    backface-visibility: hidden;
    perspective: 100em;

    &.is-animating-out,
    &.is-active {
      display: block;
    }

    &.is-animating-in {
      top: 0;
      position: absolute;
    }

    &.is-animating-in.animate-left,
    &.is-animating-out.animate-right {
      transform: translateX(100%);

      @supports (transform-style: preserve-3d) {
        transform: translate3d(100%, 0, 0);
      }
    }

    &.is-animating-in.animate-right,
    &.is-animating-out.animate-left {
      transform: translateX(-100%);

      @supports (transform-style: preserve-3d) {
        transform: translate3d(-100%, 0, 0);
      }
    }

  }


  &__image {
    width: 100%;
    display: block;
    max-height: 760px;
    height: $carousel-height-portrait;
    object-fit: cover;
    max-height: 80vh;
    @include landscape {
      height: $carousel-height-landscape;
    }
  }

  &__thumbs-list {
    @include list-reset;

    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    padding-top: $gutter;
    @include landscape {
      max-height: 80vh;
      height: $carousel-height-landscape;
      padding-top: 0;
      display: block;
      padding-left: $gutter;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  &__thumb-item {
    border: 3px solid transparent;
    margin: 0 0.5rem;
    flex: 0 0 auto;

    @include landscape {
      margin: 0.5rem 0;
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      border-color: $color-primary;
      position: relative;

      &::before {
        display: block;
        content: '';
        position: absolute;
        top: -11px;
        left: 50%;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $color-primary;
        @include landscape {
          border-bottom: 8px solid transparent;
          border-right: 8px solid $color-primary;
          border-top: 8px solid transparent;
          border-left: 0 solid transparent;
          left: -11px;
          top: 50%;
          margin-left: 0;
          margin-top: -8px;
        }
      }
    }
  }

  &__thumb {
    display: block;
    width: 6em;
    height: #{((760 / 1140) * 6)}em;

    @include breakpoint(md) {
      width: 10em;
      height: #{((760 / 1140) * 10)}em;
    }
  }
}
